@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #0a0a0a;
  --foreground: #e8e6ff;
  --primary: #7c77c6;
  --secondary: #16213e;
  --shadow: #1a1a2e;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Montserrat, sans-serif;
}

svg {
  display: block;
  height: 100%;
  width: 100%;
}