@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #4d4646;
  --foreground: #f5eaea;
  --primary: #7fcd91;
  --secondary: #5b5656;
  --shadow: #3b3b3b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Montserrat, sans-serif;
}
